
<mat-toolbar color="primary">
    <span>Welcome to the Home Page</span>
  </mat-toolbar>
  
  <!-- Main content container -->
  <div class="content">
    <div class="button-group">
        <button mat-raised-button color="accent" routerLink="/child">Go to Child Page</button>
        <button mat-raised-button color="accent" routerLink="/parent">Go to parent Page</button>
        <button mat-raised-button color="warn" routerLink="/reactive-form">Reactive Form</button>
        <button mat-raised-button color="primary" routerLink="/table-demo">Table Demo</button>
      </div>
  </div>
  